.map_series_container {
	position: fixed;
	top: 200px;
	right: 10px;
	width: 347px;
	display: flex;
	opacity: 0;
	transition: opacity 0.5s;
	flex-direction: column;
	font-size: 13px;
	.veto_container {
		display: flex;
		background-color: rgba(0,0,0,0.8);
		color: white;
		align-items: center;
		height: 40px;
		&.active {
			.veto_winner {
				display: none;
			}
			.veto_score {
				display: none;
			}
		}
		.veto_map_name {
			width: 116px;
			text-transform: uppercase;
			background-color: rgba(255,255,255,1);
			color: black;
			height: 100%;
			display: flex;
			font-family: Montserrat, sans-serif;
			font-weight: 700;
			align-items: center;
			justify-content: center;
		}
		div {
			img {
				max-height: 30px;
				max-width: 30px;
			}
		}
		.veto_picker {
			width: 77px;
			text-align: center;
		}
		.veto_winner {
			width: 77px;
			text-align: center;
		}
		.active_container {
			width: 154px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.active {
				background: white;
				color: black;
				width: 117px;
				height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 9px;
				font-weight: 700;
				font-family: Montserrat, sans-serif;
				text-transform: uppercase;
			}
		}
		&:not(.active) {
			.active_container {
				display: none;
			}
		}
		.veto_score {
			background: white;
			color: black;
			width: 60px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 10px;
			font-weight: 700;
			font-family: Montserrat, sans-serif;
			text-transform: uppercase;
		}
		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.title_bar {
		display: flex;
		background-color: rgba(0,0,0,0.64);
		height: 25px;
		color: white;
		clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
		font-family: Montserrat, sans-serif;
		font-size: 13px;
		font-weight: 600;
		div {
			width: 77px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.picked {
			margin-left: auto;
		}
	}
	&.show {
		opacity: 1;
	}
}

#timeout {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	background-color: var(--sub-panel-color);
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-size: 35px;
	transition: opacity 1.5s;
	opacity: 0;
}
#pause {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	background-color: var(--sub-panel-color);
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-size: 35px;
	transition: opacity 1.5s;
	opacity: 0;
	color: white;
}
#timeout.show, #pause.show {
	opacity: 1;
}
#timeout.t {
	color: var(--color-new-t);
}
#timeout.ct {
	color: var(--color-new-ct);
}
.map_series_container .veto_container.de_train.active {
	background-image: url("../.././assets/veto/de_train.jpg");
}
.map_series_container .veto_container.de_inferno.active {
	background-image: url("../.././assets/veto/de_inferno.jpg");
}
.map_series_container .veto_container.de_dust2.active {
	background-image: url("../.././assets/veto/de_dust2.jpg");
}
.map_series_container .veto_container.de_overpass.active {
	background-image: url("../.././assets/veto/de_overpass.jpg");
}
.map_series_container .veto_container.de_nuke.active {
	background-image: url("../.././assets/veto/de_nuke.jpg");
}
.map_series_container .veto_container.de_mirage.active {
	background-image: url("../.././assets/veto/de_mirage.jpg");
}
.map_series_container .veto_container.de_vertigo.active {
	background-image: url("../.././assets/veto/de_vertigo.jpg");
}
.map_series_container .veto_container.de_ancient.active {
	background-image: url("../.././assets/veto/de_ancient.jpg");
}

.map_series_container .veto_container.de_train {
	background-image: url("../.././assets/veto/de_train_gray.jpg");
}
.map_series_container .veto_container.de_inferno {
	background-image: url("../.././assets/veto/de_inferno_gray.jpg");
}
.map_series_container .veto_container.de_dust2 {
	background-image: url("../.././assets/veto/de_dust2_gray.jpg");
}
.map_series_container .veto_container.de_overpass {
	background-image: url("../.././assets/veto/de_overpass_gray.jpg");
}
.map_series_container .veto_container.de_nuke {
	background-image: url("../.././assets/veto/de_nuke_gray.jpg");
}
.map_series_container .veto_container.de_mirage {
	background-image: url("../.././assets/veto/de_mirage_gray.jpg");
}
.map_series_container .veto_container.de_vertigo {
	background-image: url("../.././assets/veto/de_vertigo_gray.jpg");
}
.map_series_container .veto_container.de_ancient {
	background-image: url("../.././assets/veto/de_ancient_gray.jpg");
}