@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 1;
		height: 50px;
	}
}

#matchbar {
	display: flex;
	flex-direction: column;
	position: fixed;
	justify-content: center;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

#matchbar-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 70px;

	.CT {
		color: var(--color-new-ct);
	}

	.T {
		color: var(--color-new-t);
	}

	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 140px;
		height: 70px;
		font-weight: 200;
		z-index: -1;
		background-color: var(--main-panel-color);
	}

	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 70px;
		z-index: 0;

		.bomb_timer {
			width: 100%;
			top: 0;
			height: 0;
			background-color: var(--color-bomb);

			&.hide {
				display: none;
			}
		}

		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;

			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 6px;
				max-height: 80%;
				max-width: 80%;
			}

			&.hide {
				display: none;
			}
		}
	}

	#round_timer_text {
		display: flex;
		width: 100%;
		height: 40px;
		justify-content: center;
		font-size: 25px;
		z-index: 1;
		color: var(--white-full);
		align-items: flex-end;

		&.hide {
			display: none;
		}
	}

	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 27px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);

		&.hide {
			display: none;
		}
	}

	.team {
		width: 426px;
		display: flex;
		align-items: center;
		justify-content: center;

		.logo-container {
			display: flex;
			width: 105px;
			height: 70px;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			background-color: var(--main-panel-color);

			.logo {
				display: flex;
				justify-content: center;
			}

			img {
				max-width: 55%;
				max-height: 55%;
				border-radius: 50%;
			}
		}

		&.left {
			flex-direction: row-reverse;
		}

		&.right {
			flex-direction: row;
		}
	}

	.team-name-container {
		display: flex;
		width: 360px;
		height: 70px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 30px;
		background-color: var(--main-panel-color);
	}

	.team-name {
		font-weight: 600;
		font-size: 30px;

	}

	.score {
		display: flex;
		flex-direction: row;
		width: 55px;
		height: 69px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 36px;
		color: var(--white-full);
		text-shadow: 0 1px 3px black;

		&.CT {
			background-color: var(--color-new-ct);
		}

		&.T {
			background-color: var(--color-new-t);
		}
	}

	.skew {
		-webkit-backface-visibility: hidden;
		transform-origin: right bottom;

		&.left, .left {
			transform: skewX(-20deg);
		}

		&.right, .right {
			transform: skewX(20deg);
		}
	}

	.left .unskew {
		transform: skewX(20deg);
	}

	.right .unskew {
		transform: skewX(-20deg);
	}

	.bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 70px;

		&.CT {
			background-color: var(--color-new-ct);
		}

		&.T {
			background-color: var(--color-new-t);
		}
	}
}

#matchbar-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.win_round_container {
	position: fixed;
	display: none;
	opacity: 1;
	width: 480px;
	height: 50px;
	top: 70px;
	align-items: center;
	color: black;
	background-color: white;
	font-size: 20px;
    font-weight: 600;
	z-index: 2;
	&.show {
		display: flex;
		animation: ShowWinCycle 5s linear 1;
		animation-fill-mode: forwards;
	}
	&.right {
		flex-direction: row;
		left: calc(50% + 60px);
		transform: skewX(-20deg);
	}
	&.left {
		flex-direction:  row-reverse;
		right: calc(50% + 60px);
		transform: skewX(20deg);
	}
}

.color_parallelogram {
	display: flex;
	width: 65px;
	height: 100%;
}
.CT .color_parallelogram {
	background-color: var(--color-new-ct);
}
.T .color_parallelogram{
	background-color: var(--color-new-t);
}

.win_text_container {
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
}


.plant_defuse_container {
	display: flex;
	opacity: 1;
	width: 100%;
	height: 25px;
	align-items: center;
	justify-content: center;
	color: white;
	transition: all 0.3s;
	position: relative;
	.plant_defuse_bar {
		position: absolute;
		height: 100%;
		z-index: -1;
		background-color: var(--black--full);
	}
	.plant_defuse_caption {
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		color: white;
		text-shadow: 0 0 3px black;
		svg {
			width: 15px;
			margin-right: 13px;
		}
    }
    &.right {
		clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
		flex-direction: row-reverse;
		margin-left: 42px;
		.plant_defuse_bar {
			right: 0;
		}
	}
    &.left {
		clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
		flex-direction: row;
		margin-right: 42px;
		.plant_defuse_bar {
			left: 0;
		}
    }
    &.hide {
        opacity: 0;
    }
	&.CT {
		background-color: var(--color-new-ct);
	}
	&.T {
		background-color: var(--color-new-t);
	}
}


#series_box {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	z-index: -1;
	top: 70px;
	width: 100%;
	height: 25px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.wins_bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 30px;
	}
	.wins_bar.CT {
		background-color: var(--color-new-ct);
	}
	.wins_bar.T {
		background-color: var(--color-new-t);
	}
}


#series_container {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	position: relative;
	width: 140px;
	height: 100%;
	background-color: var(--white-full);
	clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	.series_text {
		display: flex;
		width: 90px;
		height: 100%;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		font-weight: bold;
		color: black;
		position: absolute;
	}
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}
.container.left {
	justify-content: flex-end;
}
.container.right {
	justify-content: flex-start;
}
.series_wins {
	display: flex;
	height: 10px;
	z-index: -1;
	transition: top 0.5s;
	&.left {
		transform-origin: top right;
		transform: skewX(30deg);
		flex-direction: row-reverse;
	}
	&.right {
		transform-origin: top left;
		transform: skewX(-30deg);
		flex-direction: row;
	}
}
.series_wins.show {
	top: 0;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 11px;
	align-items: center;
	justify-content: flex-start;
	z-index: -1;
	background-color: var(--sub-panel-color);
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.wins_box {
	width: 77px;
	height: 3px;
	margin-right: 5px;
	margin-left: 5px;
	box-sizing: border-box;
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
}
