.sponsorbox {
	position: fixed;
	display: flex;
	flex-direction: row;
}

.sponsorbox.right {
	flex: 1;
	right: 0;
	justify-content: flex-end;
    width: 150px;
	height: 70px;
	top: 10px;
	background-color: var(--main-panel-color);//linear-gradient(to right, transparent, var(--main-panel-color));
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

.sponsorbox.bottom {
	width: 400px;
	height: 50px;
	bottom: 0;
    left: 50%;
	margin-left: -200px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-color: var(--main-panel-color);

	.sponsorlogo_container {
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		margin-left: 20px;
		margin-right: 20px;


		svg {
			max-height: 30px;
			width: auto;
		}

		img {
			width: auto;
			max-width: 100%;
			max-height: 50px;
		}

	}

}

