.player-overview {
	position: fixed;
	top: 130px;
	background-color: #000000a8;
	left: 50%;
	transform: translateX(-50%);
	width: 300px;
	padding: 30px;
	color: white;
	opacity: 0;
	transition: opacity 0.75s;
}
.player-overview.show {
	opacity: 1;
}
.player-overview-stat {
	display: flex;
	flex-direction: column;
	margin: 8px 0;
	.panel {
		height: 10px;
		margin: 3px 0;
		.filling {
			height: 100%;
		}
	}
}
.player-overview.CT {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-ct);
			}
			background-color: #082435;
		}
	}
}
.player-overview.T {
	.player-overview-stat {
		.panel {
			.filling {
				background-color: var(--color-new-t);
			}
			background-color: #331b00;
		}
	}
}
.player-overview-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	img {
		border-radius: 50%;
		margin-bottom: 20px;
		max-width: 170px;
		max-height: 170px;
	}
}
.player-overview-username {
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
img.flag {
	border-radius: 0;
	margin: 0;
	left: 0;
	bottom: 0;
	height: 22px;
	margin-right: 8px;
}