.win_announcement {
    position: fixed;
    width: 1300px;
    margin-left: -650px;
    left: 50%;
    top: 150px;
    height: 70px;
    background-color: var(--sub-panel-color);
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 26pt;
    color: white;
    opacity:0;
    transition: opacity 1s;
}
.win_announcement.show {
    opacity:1;
}

.win_announcement .text-color-CT {
    color: #5ab8f4;
}
.win_announcement .text-color-T {
    color: #f0c941;
}