.killfeed {
    position: fixed;
    right: 20px;
    top: 93px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes KillLifeCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 38px;
	}
	95% {
		opacity: 1;
		height: 38px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
.killfeed .single_kill {
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.64);
    margin-bottom:5px;
    color:white;
	animation: KillLifeCycle 5s linear 1;
	animation-fill-mode: forwards;/**/
    height: 31px;
    font-size: 14px;
    overflow: hidden;
    align-items: center;
    font-family: Montserrat;
    font-weight:500;
    padding-left:15px;
    padding-right:15px;
}

.killfeed .single_kill img.weapon {
    max-height: 28px;
}
.killfeed .single_kill img.weapon {
    filter: invert(0%);
}
.killfeed .single_kill.hide {
    transition:height 1s, padding 1s,  opacity 1s, margin 1s;
    opacity:0;
    height:0;
    margin:0;
    /*height:0px;
    padding:0;*/
}
.killfeed .single_kill.show {
    opacity:1;
}
.killfeed .single_kill div {
    margin:10px;
    display:flex;
    align-items:center;
}
.killfeed .single_kill .way {
    text-align: center;
}
.killfeed .single_kill .CT {
    color: var(--color-new-ct);
}
.killfeed .single_kill .T {
    color: var(--color-new-t);
}
.killfeed .single_kill .way .headshot, .killfeed .single_kill .way .wallbang, .killfeed .single_kill .flash_assist, .killfeed .single_kill .flash_kill, .killfeed .single_kill .smoke_kill, .killfeed .single_kill .noscope_kill {
    max-height:20px;
    margin-left:5px;
}
.killfeed .single_kill .flash_assist {
    margin-left: 0;
    margin-right:5px;
}
.killfeed .single_kill .plus {
    margin-left: 0;
    font-weight: 600;
    margin-right: 8px;
}
.killfeed .single_kill .way .wallbang {
    max-height: 24px;
}
.killfeed .single_kill .assister_name {
    margin-left:0px;
}