#matchbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    width: 1148px;
    height: 70px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#matchbar .CT {
    color: var(--color-new-ct);
}

#matchbar .T {
    color: var(--color-new-t);
}

#matchbar #timer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 126px;
    height: 115px;
    margin-left:8px;
    margin-right: 8px;
    background-color: var(--sub-panel-color);
    top: -10px;
}

#matchbar #bomb_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 0;
}


#matchbar #bomb_container .bomb_timer {
    width: 100%;
    top: 0;
    height: 0;
    background-color: var(--color-bomb);
}

#matchbar #bomb_container .bomb_timer.hide {
    display: none;
}

#matchbar #bomb_container .bomb_icon {
    position: absolute;
    width: 100%;
    height: 100%;
}

#matchbar #bomb_container .bomb_icon.hide {
    display: none;
}

#matchbar #bomb_container .bomb_icon img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6px;
    max-height: 80%;
    max-width: 80%;
}

#matchbar #round_timer_text {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    /* line-height: 54px; */
    font-size: 34px;
    font-weight: bold;
    z-index: 1;
    color: var(--white-full);
    align-items: flex-end;
}
#matchbar #round_timer_text.hide {
    display: none;
}
#matchbar #round_now.hide {
    display: none;
}
#matchbar #round_now {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
    color: var(--white-full);
}

#matchbar .team {
    width: 426px;
    display: flex;
    align-items: center;
}

#matchbar .team.left {
    justify-content: center;
    flex-direction: row-reverse;
}

#matchbar .team.right {
    justify-content: center;
    flex-direction: row;
}

#matchbar .team-name {
    display: flex;
    width: 360px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;
    background-color: var(--sub-panel-color);
}

#matchbar .round-thingy {
    width: 60px;
    height: 60px;
    position: absolute;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:50%;
}

#matchbar .round-thingy .inner {
    width: 35px;
    height: 35px;
    border-radius:50%;
}
#matchbar .CT .round-thingy .inner {
    background-color: #28abff;
}
#matchbar .T .round-thingy .inner {
    background-color: #ffc600;
}
#matchbar .CT .round-thingy {
    background-color: #28abff80;
}
#matchbar .T .round-thingy {
    background-color: #ffc60080;
}

#matchbar .team.right .round-thingy {
    right: -30px;
}
#matchbar .team.left .round-thingy {
    left: -30px;
}

#matchbar .team .logo {
    display: flex;
    flex-direction: row;
    width: 105px;
    height: 70px;
    align-items: center;
    overflow: hidden;
    background-color: var(--sub-panel-color);
}
#matchbar .team.left .logo {
    justify-content: flex-end;
}
#matchbar .team.right .logo {
    justify-content: flex-start;
}

#matchbar .team .logo img {
    max-width: 90%;
    max-height: 65%;
}

#matchbar .score {
    display: flex;
    flex-direction: row;
    width: 77px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 36px;
    background-color: var(--sub-panel-color);
}

#matchbar .bar {
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 70px;
}

#matchbar .bar.CT {
    background-color: var(--color-new-ct);
}

#matchbar .bar.T {
    background-color: var(--color-new-t);
}
@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
.win_text {
    position: fixed;
    display: none;
    opacity:1;
    /*transform: translateX(-50%);*/
    width: 503px;
    height: 50px;
    top: 70px;
    align-items:center;
    color: black;
    justify-content: center;
    background-color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight:600;
}
.win_text.show {
    display: flex;
	animation: ShowWinCycle 5s linear 1;
	animation-fill-mode: forwards;
}
.win_text.right {
    left: calc(50% + 71px);
}
.win_text.left {
    right: calc(50% + 71px);
}


.defuse_plant_container {
    position: fixed;
    display: flex;
    opacity:1;
    /*transform: translateX(-50%);*/
    width: 503px;
    height: 49px;
    top: 70px;
    align-items:center;
    color: white;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
}
.defuse_plant_container.right {
    left: calc(50% + 71px);
}
.defuse_plant_container.left {
    right: calc(50% + 71px);
}
.defuse_plant_container.hide {
    opacity: 0;
}
.defuse_plant_container .defuse_plant_bar {
    height: 49px;
    background-color: #3c3c3c;
    position: absolute;
    width: 0%;
}
.defuse_plant_container.left .defuse_plant_bar {
    right:0;
}
.defuse_plant_container.right .defuse_plant_bar {
    left:0;
}
.defuse_plant_container .defuse_plant_caption {
    z-index: 1;
    display: flex;
    text-transform: uppercase;
    align-items: flex-end;
}
.defuse_plant_container .defuse_plant_caption img {
    margin-right: 13px;
}