.observed {
    position: fixed;
    width: 620px;
    bottom: 120px;
    margin-left: -310px;
    left: 50%;
    height: 86px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0,0,0,0.6);
}

.observed .main_row,
.observed .stats_row {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    height: 43px;
}

.observed .stats_row {
    height: 28px;
}

.observed .stats_row .stats_cell {
    height: 100%;
    width: 56px;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.observed .stats_row .stats_cell .label {
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #b2b2b2;
}

.observed .stats_row .stats_cell .stat {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.observed .main_row .logo {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.observed .main_row .grenade_container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: center;

}

.observed .main_row .username_container {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.observed.T {
    border-bottom: 6px solid var(--color-new-t);
}
.observed.CT {
    border-bottom: 6px solid var(--color-new-ct);
}

.observed.T .main_row .username_container .username,
.observed.T .stats_row .ammo .ammo_counter .ammo_reserve {
    color: var(--color-new-t)
}

.observed.CT .main_row .username_container .username,
.observed.CT .stats_row .ammo .ammo_counter .ammo_reserve {
    color: var(--color-new-ct)
}

.observed .main_row .username_container .real_name {
    font-size: 7pt;
    color: rgba(255, 255, 255, 0.5);
}

.observed .main_row .weapon.grenade {
    max-height: 28px;
    /*filter: invert(1);*/
}

.observed .sidebar {
    width: 10px;
    height: 100%;
    position: absolute;
}

.observed.T .sidebar {
    background-color: var(--color-new-t)
}

.observed.CT .sidebar {
    background-color: var(--color-new-ct)
}

.observed .sidebar:first-child {
    left: -10px;
}

.observed .sidebar:last-child {
    right: -10px;
}

.observed .main_row .weapon.grenade:last-child {
    margin-right: 5px;
}

.observed .main_row {
    font-weight: 600;
}

.observed .main_row .flag {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.observed .main_row .flag img {
    height: 43px;
}

.observed .avatar {
    align-self: flex-end;
    display: flex;
}
.observed .avatar img {
    border-radius:50%;
}
.observed .stats_row .health_armor_container {
    display: flex;
    height: 100%;
    width: 140px;
    justify-content: center;
}

.observed .stats_row .health_armor_container .icon {
    display: flex;
    width: 30px;
    align-items: center;
    justify-content: center;
}

.observed .stats_row .health_armor_container .icon img {
    max-height:30px;
    max-width:22px;
}

.observed .stats_row .health_armor_container .text {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 21px;
    height: 100%;
    padding-top: 2px;
}

.observed .stats_row .statistics {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.observed .stats_row .statistics .stat {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    margin-right: 24px;
}

.observed.CT .stats_row .statistics .stat .label {
    color: var(--color-new-ct);
    margin-right: 2px;
}

.observed.T .stats_row .statistics .stat .label {
    color: var(--color-new-t);
    margin-right: 2px;
}

.observed .stats_row .ammo {
    height: 100%;
    width: 140px;

    display: flex;
}

.observed .stats_row .statistics {
}

.observed .stats_row .ammo .ammo_icon_container {
    display: flex;
    height: 100%;
    width: 48px;
    align-items: center;
    justify-content: center;
}

.observed .stats_row .ammo .ammo_icon_container img {
    max-width: 30px;
}

.observed .stats_row .ammo .ammo_counter {
    flex: 1;
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.observed .stats_row .ammo .ammo_counter > div {
    width: 32px;
    display: flex;
    align-items: center;
}

.observed .stats_row .ammo .ammo_counter .ammo_clip {
    justify-content: flex-end;
}

.observed .stats_row .ammo .ammo_counter .ammo_reserve {
    justify-content: flex-start;
}