.player-overview {
    position: fixed;
    top: 130px;
    background-color: #000000a8;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 30px;
    color: white;
    opacity:0;
    transition: opacity 0.75s;
}
.player-overview.show {
    opacity: 1;
}
.player-overview-stat {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}
.player-overview-stat .panel {
    height: 10px;
    margin: 3px 0;  
}
.player-overview-stat .panel .filling {
    height: 100%;
}

.player-overview.CT .player-overview-stat .panel .filling {
    background-color: var(--color-new-ct);
}
.player-overview.T .player-overview-stat .panel .filling {
    background-color: var(--color-new-t);
}
.player-overview.T .player-overview-stat .panel {
    background-color: #331b00;
}
.player-overview.CT .player-overview-stat .panel {
    background-color: #082435;
}
.player-overview-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.player-overview-picture img {
    border-radius: 50%;
    margin-bottom: 20px;
    max-width:170px;
    max-height:170px;
}
.player-overview-username {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.flag {
    border-radius: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    height: 22px;
    margin-right: 8px;
}

.match-overview {
    opacity:0;
    transition: opacity 0.75s;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 10px;
    top: 375px;
    background-color: #000000a8;
    text-transform: uppercase;
    width: 250px;
    color:white;
}
.match-overview.show {
    opacity:1;
}
.match-overview-teams {
    display: flex;
}
.match-overview-title {
    text-align:center;
    font-weight:600;
    background-color: rgba(0,0,0,0.5);
    padding:3px 0;
}
.match-overview-teams > div {
    flex:1;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
}
.match-overview-vs {
    width: 20px;
    flex: unset;
    background-color: rgba(0,0,0,0.6);
    font-size: 30px;    
}
.match-overview-teams > div:not(.match-overview-vs) {
    background-color: rgba(0,0,0,0.7);
}