:root {
    --darkCT: #2e5069;
    --lightCT: #3787ba;
    --darkT: #6f5a25;
    --lightT: #c8a738;

    --mainCT: #00a0ff;
    --mainT: #ffa000;
}

.teambox {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
}

.teambox.hide {
    opacity: 0;
}


.teambox.left {
    left: 10px;
}

.teambox.right {
    right: 10px;
}

.teambox .player {
    width: 645px;
    height: 70px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teambox.right .player {
    flex-direction: row-reverse;
}

.teambox .player .player_data {
    background-color: var(--sub-panel-color);
    width: 415px;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}
.teambox .player:last-child .player_data {
    border-radius: 0 0 20px 20px;
}

.teambox.right .player .player_data {
    flex-direction: row-reverse;
}

.teambox .player .player_side_bar {
    width: 10px;
    height: 70px;
}

.teambox .player.dead .player_side_bar.CT,
.teambox .player.dead .player_side_bar.T {
    background-color: var(--main-panel-color);
}

.teambox .player .player_side_bar.CT {
    background-color: var(--color-new-ct);
}

.teambox .player .player_side_bar.T {
    background-color: var(--color-new-t);
}

.teambox .player .player_data .avatar {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.teambox.right .player .player_data .avatar {
    justify-content: flex-start;
}

.teambox .player.dead .player_data .avatar {
    filter: grayscale(100%);
}

.teambox .player .player_data .avatar img {
    border-radius:50%;
}

.teambox .player .player_data .player_stats {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}
.teambox .player.active .player_data {
    border: 2px solid white;
}
/*
.teambox .player.active .player_data .active_border {
    position: absolute;
    width: 10px;
    height: 70px;
    align-self: center;
    top: 0px;
}

.teambox.left .player.active .player_data .active_border {
    right: -10px;
}

.teambox.right .player.active .player_data .active_border {
    left: -10px;
}

.teambox.T .player.active .player_data .active_border {
    background-color: var(--white-full);
}

.teambox.CT .player.active .player_data .active_border {
    background-color: var(--white-full);
}
*/
.teambox .player .row {
    flex: 1;
    display: flex;
    position: relative;
}

.teambox.left .player .row {
    flex-direction: row;
}

.teambox.right .player .row {
    flex-direction: row-reverse;
}

.teambox.right .player .row .username {
    flex-direction: row-reverse;
}

.teambox .player .dead-stats {
    position: absolute;
    height: 85%;
    width: 60px;
    display: none;
    flex-direction: column;
    font-weight: 600;
    color: white;
    opacity: 0.75;
    top: 10%;
}

.teambox .player.dead .dead-stats {
    display: flex;
}

.teambox.right .player .dead-stats {

    left: 8px;
}

.teambox.left .player .dead-stats {

    right: 8px;
}

.teambox .player .dead-stats .labels,
.teambox .player .dead-stats .values {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.teambox .player .dead-stats .labels .stat-label,
.teambox .player .dead-stats .values .stat-value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.teambox .player .row .health {
    width: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    font-weight: 600;
    font-size:18px;
}

.teambox .player.dead .row .health {
    color: #b2b2b2;
    overflow: hidden;
}

.teambox .player .row .username {
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 1;
    color: white;
    font-weight: 600;
    max-width: calc(100% - 49px);
    justify-content: space-between;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teambox .player .row .username div span {
    opacity: 0.6;
    font-size:15px;
}

.teambox .player.dead .row .username {
    color: #b2b2b2;
}

.teambox .player .row .armor_and_utility {
    width: 39px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.teambox.left .player .row .armor_and_utility {
    justify-content: flex-start;
}

.teambox.right .player .row .armor_and_utility {
    justify-content: flex-end;
}

.teambox .player .row .armor_and_utility div {
    display: flex;
    width: 50%;
}

.teambox .player.dead .row .armor_and_utility {
    width: 0px;
    overflow: hidden;
}

.teambox .player .row .money {
    width: 60px;
    color: var(--color-moneys);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.teambox.left .player .row .money {
    margin-right: auto;
}

.teambox.right .player .row .money {
    margin-left: auto;
}

.teambox.right .player .row .money {
    justify-content: flex-end;
}

.teambox .player.dead .row .money {
    color: #466722;
}
.teambox .player.dead {
    opacity: 0.7;
}

.teambox .player .hp_bar {
    height: 2px;
}
.teambox.right .player .hp_bar {
    align-self: flex-end;
}

.teambox .player .row .hp_background,
.teambox .player .row .hp_background_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.teambox .player.dead .row .hp_background_2 {
    opacity: 0;
}

.teambox .player .row .hp_background_2 {
    background-color: var(--color-bomb);
    transition: width 0.75s 1.5s;
}

.teambox.CT .player .hp_bar {
    background-color: var(--color-new-ct);
}

.teambox.T .player .hp_bar {
    background-color: var(--color-new-t);
}

.teambox .player .hp_bar.low {
    background-color: red;
}







.player .primary_weapon {
    flex: 1;
    display: flex;
    align-items: center;
}

.teambox.left .player .primary_weapon {
    padding-left: 20px;
}

.teambox.right .player .primary_weapon {
    justify-content: flex-end;
    padding-right: 20px;
}

.player .primary_weapon img {
    max-height: 30px;
    width: auto;
}
.player .username img.weapon {
    max-height: 30px;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

img.weapon {
    filter: invert(45%);
}
img.weapon.active {
    filter: invert(0);
}
.roundkills-container {
    position: absolute;
    background-image: url('./../../assets/images/icon_skull_default.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: left 2px;
    padding-left: 16px;
    font-size: 13px;
}
.teambox.right .roundkills-container {
    left: 135px;
}
.teambox.left .roundkills-container {
    right: 135px;
}
/*
img.weapon.active {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(0.5px 0.5px 1px white);
}

.teambox.right img.weapon.active {
    filter: drop-shadow(-1px 0.5px 1px white) drop-shadow(1.5px 0.5px 1px white);
}
*/
/*
.player .primary_weapon img.active {
    filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(0.5px 0.5px 1px white) invert(100%);
}
.teambox.right .player .primary_weapon img.active {
    filter: drop-shadow(-1px 0.5px 1px white) drop-shadow(1.5px 0.5px 1px white) invert(100%);
}*/
.teambox.right .primary_weapon img,
.teambox.right .secondary_weapon img, .teambox.right .weapon {
    transform: scaleX(-1);
}

.teambox.left .secondary_weapon {
    padding-right: 10px;
}

.teambox.right .secondary_weapon {
    padding-left: 10px;
}

.secondary_weapon {
    display: flex;
    align-items: center;
}

.secondary_weapon img {
    max-height: 30px;
}

.player .grenades {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teambox.left .grenades {
    padding-right: 5px;
}

.teambox.right .grenades {
    padding-left: 5px;
}

.player .grenades img.grenade {
    max-height: 20px;
}

.player .armor_indicator img,
.player .bomb_indicator img,
.player .defuse_indicator img {
    max-height: 20px;
}
.player_side_stats {
    flex: 0.5;
    height: 85%;
    background-color: var(--main-panel-color);
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction:column;
    opacity: 1;
    transition: all 0.5s;
    position: relative;
}
.player_side_stats .side_stat_row {
    display: flex;
    flex: 1;
    color: white;
}
.player_side_stats .side_stat_row div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13pt;
}
.teambox.left .player_side_stats {
    right:0px;
}
.teambox.right .player_side_stats {
    left:0px;
}
.teambox.left .player_side_stats.hide {
    right:300px;
    opacity: 0;
}
.teambox.right .player_side_stats.hide {
    left:300px;
    opacity: 0;
}
.teambox.CT .player_side_stats .side_stat_row:first-child {
    color: var(--mainCT);
}
.teambox.T .player_side_stats .side_stat_row:first-child {
    color: var(--mainT);
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 1;
    transition: opacity 1s;
}
.players_alive.hide {
    opacity: 0;
}
.players_alive .counter_container {
    display: flex;
    height: 45px;
}
.players_alive .counter_container > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.players_alive .counter_container .team_counter {
    background-color: rgba(0,0,0,0.75);
}
.players_alive .title_container {
    color: white;
    text-transform: uppercase;
    text-align: center;
    height:20px;
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.75);
}
.players_alive .counter_container .CT {
    color: var(--color-new-ct);
}
.players_alive .counter_container .T {
    color: var(--color-new-t);
}