
.boxes {
    position: fixed;
    bottom: 384px;
}

.boxes.left {
    left: 10px;
}

.boxes.right {
    right: 10px;
}

.boxes.hide .utilitybox, .boxes.hide .moneybox, .boxes.hide .sidebox {
    height:0;
    opacity:0;
}
.utilitybox.hide, .moneybox.hide, .sidebox.hide {
    height:0;
    opacity:0;
}

.sidebox, .utilitybox, .moneybox {
    width: 415px;
    height: 70px;
    display: flex;
    flex-direction: row;
    opacity: 1;
    transition: all 0.75s;
    background-color: var(--sub-panel-color);
    margin-bottom: 4px;
    margin-top: 4px;
}

.sidebox .title_container {
    color: var(--white-full);
    height: 60px;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.sidebox {
    
    align-items: center;
}

.sidebox .title_container>div {
    flex: 1;
    display: flex;
    align-items: center;
    font-weight:600;
    font-size:18px;     
}

.sidebox.right {
    flex-direction: row-reverse;
}

.sidebox.right .title_container>div {
    flex-direction: row-reverse;
    text-align: right;
    padding-right: 10px;
}

.sidebox.left .title_container>div {
    flex-direction: row;
    text-align: left;
    padding-left: 10px;
}

.sidebox .image_container {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebox .image_container img {
    max-width: 70px;
    max-height: 70px;
}


.utilitybox {
    flex-direction: column;
    margin-bottom: 4px;
    border-radius: 20px 20px 0 0;
}

.utilitybox .title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size:16px;
    height: 24px;
}

.utilitybox .title {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.utilitybox.CT .title {
    color: var(--color-new-ct);
}

.utilitybox.T .title {
    color: var(--color-new-t);
}

.utilitybox .grenades_container {
    display: flex;
    flex: 1;

    height: 46px;
}

.utilitybox .grenades_container .grenade_container {
    display: flex;
    flex: 1;
    color: white;
    align-items: center;
    font-weight:600;
    font-size:18px;
    justify-content: center;
}

.utilitybox .grenades_container .grenade_container img {
    max-height: 40px;
}

.moneybox {
    font-weight: 600;
    margin-bottom: 0px;
}

.moneybox.right {
    flex-direction: row-reverse;
}

.moneybox .money_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
}

.moneybox.CT .money_container .title {
    color: var(--color-new-ct);
}

.moneybox.T .money_container .title {
    color: var(--color-new-t);
}

.moneybox .money_container .title {
    height: 25px;
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    justify-content: center;
}

.moneybox .money_container .value {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}

.moneybox .loss_container {
    width: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.moneybox .loss_container .loss-box {
    height: 13px;
    width: 100%;
    background-color: #515254;
    margin-top: 1px;
    margin-bottom: 1px;
}

.moneybox .loss_container .loss-box.active.CT {
    background-color: var(--color-new-ct);
}

.moneybox .loss_container .loss-box.active.T {
    background-color: var(--color-new-t);
}