.observed {
    position: fixed;
    width: 570px;
    bottom: 120px;
    margin-left: -285px;
    left: 50%;
    height: 49px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0,0,0,0.6);
    align-items: center;

    .main_row, .stats_row {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
    }

    .ammo {
        height: 100%;
        width: 140px;
        display: flex;
        margin-right: 27px;
        &.no-weapon {
            .ammo_icon_container, .ammo_counter {
                display: none;
            }
        }
        .current_rounds_kills {
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 24px;
            &:not(.active){
                opacity: 0;
            }
        }
        .ammo_counter {
            width:65px;
            display: flex;
            font-size: 18px;
            font-weight: 600;
            > div {
                width: 32px;
                display: flex;
                align-items: center;
            }
            .ammo_clip {
                justify-content: flex-end;
                font-size: 18px;
            }
            .ammo_reserve {
                justify-content: flex-start;
                opacity: 0.5;
                font-size: 14px;
            }
        }
        .ammo_icon_container {
            display: flex;
            height: 100%;
            width: 19px;
            align-items: center;
            justify-content: center;
            svg {
                max-width: 19px;
                fill: white;
            }
        }
    }
    .stats_row {
        height: 35px;
        margin-top: 14px;
        width: calc(100% - 78px);
        justify-content: space-between;
        padding: 0 39px;
    
        .stats_cell {
            height: 100%;
            width: 56px;
            display: flex;
            flex-direction: column;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

            .label {
                height: 13px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                color: #b2b2b2;
            }

            .stat {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .health_armor_container {
            display: flex;
            height: 100%;
            width: 160px;
            justify-content: center;
            .text {
                width: 54px;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 19px;
                height: 100%;
                margin-left:9px;
            }
            
            .icon {
                display: flex;
                width: 16px;
                align-items: center;
                justify-content: center;
                svg, img {
                    max-height:30px;
                    max-width:16px;
                    width: 16px;
                }
            }
        }
        .statistics {
            height: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .stat {
                display: flex;
                font-weight: 600;
                font-size: 18px;
                margin-right: 24px;
            }
        }
    }

    .grenade_container {
        height: 100%;
        display: flex;
        align-items: center;
        width: 145px;
        justify-content: flex-end;

        .defuse_indicator, .armor_indicator {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: auto;
            svg {
                width: 19px;
                height: 19px;
                fill: white;
            }
        }
    
    }
    .weapon.grenade {
        height: 19px;
        filter: invert(45%);

        &.active {
            filter: invert(0%);
        }
        &:last-child {
            margin-right: 5px;
        }
    }
    .main_row {
        font-weight: 600;
        position: absolute;
        height: 28px;
        width: 526px;
        top: -14px;
        .logo {
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .username {
            height: 100%;
            flex: 1;
            display: flex;
            margin-left:18px;
            justify-content: center;
            flex-direction: column;
            .real_name {
                font-size: 7pt;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        
    }
    .sidebar {
        width: 10px;
        height: 100%;
        position: absolute;
        &:first-child {
            left: -10px;
        }
        &:last-child {
            right: -10px;
        }
    }
    .flag {
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -10px;
        img {
            height: 18px;
        }
    }
    .avatar {
        align-self: flex-end;
        display: flex;
        position: absolute;
        width: 162px;
        height: 162px;
        left: calc(50% - 81px);
        bottom: -35px;
    }
    
    &.T {
        .main_row {
            background-color: var(--color-new-t);
        }
        .sidebar {
            background-color: var(--color-new-t)
        }
        .stats_row .statistics .stat .label {
            color: var(--color-new-t);
            margin-right: 2px;
        }
    }
    &.CT {
        .main_row {
            background-color: var(--color-new-ct);
        }
        .sidebar {
            background-color: var(--color-new-ct)
        }
        .stats_row .statistics .stat .label {
            color: var(--color-new-ct);
            margin-right: 2px;
        }
        
    }
}

#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}