.teambox {
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
    &.CT {
        .player .hp_bar {
            background-color: var(--color-new-ct);
        }
    }
    &.T {
        .player .hp_bar {
            background-color: var(--color-new-t);
        }
    }
    &.hide {
        opacity: 0;
    }
    &.left {
        left: 10px;
        .player {
            .row {
                flex-direction: row;
                .grenades {
                    padding-right: 8px;
                    margin-left:auto;
                }
                
                .armor_and_utility {
                    justify-content: flex-start;
                }
                .username .roundkills-container {
                    right: 115px;
                }
                .secondary_weapon {
                    padding-right: 10px;
                }
                
            }
        }
    }
    &.right {
        right: 10px;
        .player {
            > svg {
                transform: scaleX(-1);
            }
            &.dead .player_data {
                
                -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 141px, rgba(0, 0, 0, 0) 233px);
                mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 141px, rgba(0, 0, 0, 0) 233px);
            }
            flex-direction: row-reverse;
            .player_data {
                .player_stats {
                    align-items: flex-end;
                }
                .health-bar-container {
                    flex-direction: row-reverse;
                    .username {
                        flex-direction: row-reverse;
                        padding-left: 0px;
                        padding-right: 12px;
                        span {
                            padding-left: 5px;
                            padding-right: 0px;
                        }
                    }
                }
                flex-direction: row-reverse;
                .hp_bar {
                    align-self: flex-end;
                }
                .row {
                    flex-direction: row-reverse;
                    background-position: bottom right 37px;
                    .grenades {
                        padding-left: 8px;
                        margin-right:auto;
                    }
                    .username {
                        flex-direction: row-reverse;
                        .roundkills-container {
                            left: 115px;
                        }
                    }
                    .secondary_weapon {
                        padding-left: 10px;
                    }
                    .armor_and_utility {
                        justify-content: flex-end;
                    }
                    .money {
                        justify-content: flex-end !important;
                        margin-left: 0px !important;
                        margin-right: 12px;
                    } 
                    .weapon {
                        transform: scaleX(-1);
                    }
                }
                .avatar {
                    margin-right: 0px;
                    margin-left: 3px;
                }
            }
        }
    }  
    .player {
        width: 645px;
        height: 51px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        > svg {
            height: 35px;
            margin: 0 14px;
        }
        &.active {
            .player_data {
            }
        }
        .health-bar-container {
            display: flex;
            position: relative;
            width: 195px;
            height: 20px;
            background-color: var(--main-panel-color);
            .armor_indicator {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
                height: 13px;
            }
            > :not(.hp_bar){
                z-index: 5;
            }
            > .hp_bar {
                z-index: 0;
            }
            .health {
                width: 36px;
                font-weight: 600;
                color: white;
                font-size:14px;
                text-align: center;
            }
        }
        .row {
            background-position: bottom left 28px;
            background-repeat: no-repeat;
            width: 100%;
        }
        &.neutral .row {
            background-image: url('./../../assets/normal.png');
        }
        &.positive .row {
            background-image: url('./../../assets/positive.png');
        }
        &.negative .row {
            background-image: url('./../../assets/negative.png');
        }
        
        &.dead {
            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }
            .player_data {
                -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 141px, rgba(0, 0, 0, 0) 233px);
                mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 141px, rgba(0, 0, 0, 0) 233px);
                .avatar {
                    filter: grayscale(100%);
                }
                .row {
                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                    }
                    .username {
                        color: #b2b2b2;
                    }
                    .armor_and_utility {
                        width: 0px;
                        overflow: hidden;
                    }
                    .money {
                        color:white;
                    }
                }
            }
        }
        .player_side_bar {
            width: 10px;
            height: 70px;
            &.CT {
                background-color: var(--color-new-ct);
            }
            &.T {
                background-color: var(--color-new-t);
            }
        }
        .player_data {
            width: 272px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            align-items: flex-end;
            > .background {
                position: absolute;
                width:100%;
                height:38px;
                bottom:0;
                background-color: var(--sub-panel-color);
                z-index:-1;
            }
            > &:not(.background){
                z-index:3;
            }
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                height:48px;
                min-width: 0;
                .hp_bar {
                    height:100%;
                    position: absolute;
                }
                .kills-count, .deaths-count {
                    width: 20px;
                    margin-left: 2px;
                    color: white;
                    font-weight: 700;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                }
                .deaths-count {
                    margin-left: 3px;
                }
                
                .armor_indicator, .bomb_indicator, .defuse_indicator {
                    svg {
                        max-height: 12px;
                        max-width:20px;
                        fill: white;
                        height: 12px;
                    }
                }

                
                .username {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    z-index: 1;
                    color: white;
                    font-weight: 600;
                    max-width: calc(100% - 49px);
                    overflow: hidden;
                    padding-left:12px;
                    font-size: 14px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .roundkills-container {
                        position: absolute;
                        background-image: url('./../../assets/images/icon_skull_default.svg');
                        background-repeat: no-repeat;
                        background-size: 10px;
                        background-position: left 2px;
                        padding-left: 16px;
                        font-size: 13px;
                    }
                    span {
                        opacity: 0.6;
                        padding-right:5px;
                    }
                    svg.weapon {
                        max-height: 30px;
                        width: auto;
                        margin-left: 5px;
                        margin-right: 5px;
                        max-width: 100px;
                        height: 30px;
                    }
                }
                .row {
                    flex: 1;
                    display: flex;
                    position: relative;
                    svg.weapon {
                        filter: invert(45%);
                        &.active {
                            filter: invert(0);
                        }
                    }

                    .armor_and_utility {
                        width: 12px;
                        display: flex;
                        align-items: center;
                        padding-left: 2px;
                        padding-right: 2px;
                        .defuse_indicator {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .money {
                        width: 50px;
                        color: var(--color-moneys);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        font-size: 12px;
                        margin-left: 12px;
                    }
                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        .single-grenade-container {
                            border-bottom: 2px solid transparent;
                            &.active {
                                border-bottom: 2px solid white;
                            }
                            display: flex;
                            height: 14px;
                            position: relative;
                            top: 2px;
                        }
                        svg.grenade {
                            max-height: 12px;
                            height: 12px;

                            
                        }
                    }
                    .health {
                        width: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        font-size:18px;
                    }
                    .secondary_weapon {
                        display: flex;
                        align-items: center;
                        svg {
                            max-height: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            .avatar {
                width: 65px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 3px;
                overflow:hidden;
                img {
                    position: relative;
                    width: 112px;
                    height: 112px;
                    top: 23px;
                }
            }
        }
    }
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 244px;
    background-color: #292b34;
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 1;
    font-weight: 700;
    transition: opacity 1s;
    .counter_container {
        display: flex;
        height: 59px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:23px;
            color: white;
        }
        .team_counter {
            background-color: var(--main-panel-color);
            width:98px;
            flex: unset;
            font-size:40px;
            clip-path: polygon(20px 0, 100% 0, 100% 120%, 0 120%, 0 100%);
            &:first-child {
                clip-path: polygon(0 0, 100% 0, 80px 100%, 80px 120%, 10px 120%, 0 100%);
            }
        }

        .team-border {
            position: absolute;
            height: 4px;
            width: 51px;
            bottom: -2px;
        }
        .CT .team-border {

            background-color: var(--color-new-ct);
        }
        .T .team-border {
            background-color: var(--color-new-t);
        }
    }
    .title_container {
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:20px;
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.75);
    }
    &.hide {
        opacity: 0;
    }
}
